{% extends "base.html.twig" %} 

{% block title %}  Films {% endblock %}

{% block body %}<br><br>

<div style="text-align:center"> Voici le films disponibles </div>

  {% if Films | length == 0 %}  
    Pas de Films disponible
   {% endif %}

 
<ul>
  {% for Films in Films %}  
    <li> {{Films}}</li>
    {% endfor %}
</ul> 

{% endblock %}
