{% extends "base.html.twig" %} 

{% block title %}  Accueil  {% endblock %}

{% block body %}


<br><div style="text-align:center"> Bienvenue sur l'Accueil </div>
<br><div style="text-align:center"> Venez découvrir tous nos films  </div>
  <input list="browsers" name="browser" id="browser">
  <datalist id="browsers">
    <option value="The Batman">
    <option value="Avatar">
    <option value="Last Duel">
    <option value="Spider-man">
    <option value="Lords of the rings">
  </datalist><br><br>
  <input type="date" id="datemin" name="datemin" min="2000-01-02">

{% endblock %}