{% extends "base.html.twig" %} 


{% block title %}  Accueil  {% endblock %}

{% block body %}


<br><div style="cen"> Bienvenue sur l'Accueil </div>
<br><div style="text-align:center"> Venez découvrir tous nos films  </div>


{% endblock %}