{% extends "base.html.twig" %} 

{% block title %}  Cinema  {% endblock %}

{% block body %}

<div> Cinema Disponibles  </div>

 {% if Cinema | length == 0 %}  
    Pas de Films disponible
   {% endif %}

<ul>
  {% for Cinema in Cinema %}  
    <li> {{ Cinema }}</li>
      {% endfor %}
</ul>


{% endblock %}