{% extends "base.html.twig" %} 

{% block title %}  Cinema  {% endblock %}

{% block body %}

<div> Cinema Disponibles  </div>

 {% if Cinema | length == 0 %}  
    Pas de Films disponible
   {% endif %}

<ul>
  {% for Cinema in Cinema %}  
    <li> {{ Cinema }}</li>
      {% endfor %}
</ul>


<table style="width:70% ; border:1px solid black;">
  <tr style="border:1px solid black;">
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
  </tr>
</table>


{% endblock %}