{% extends 'base.html.twig' %}

{% block body %}
<div style="text-align:center;"><b> Lors de votre seance {{ seance }} vous regardez le film {{ film }} dans la salle {{ salle }} </b></div>
<br><br>
<br><br>
<form style="text-align:center;">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd">
  <br><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}