<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}  {{page_title}}  {% endblock %}</title>
         <link rel="stylesheet" href="{{ 'public(/Css/navbar.css' }}">
            {% block stylesheets %}
             {% endblock %}
                {% block javascripts %}
                 {% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
