<nav style="text-align:center">
    <a href="{{ path('accueil') }}">Accueil</a>
    <a href="{{ path('listingfilms') }}">Films</a>
    <a href="{{ path('Cinema') }}">Cinema</a>
    <a href="{{ path('create_films') }}">Ajout Films</a>
</nav>