<ul>
<nav>
   <li><a class="active" href="{{ path('accueil') }}">Accueil</a></li>
   <li><a href="{{ path('listingfilms') }}">Films</a></li>
   <li><a href="{{ path('Cinema') }}">Cinema</a></li>
   <li><a href="{{ path('create_films') }}">Ajout Films</a></li>
</nav>
</ul>